body {
	font-family: 'Open Sans', sans-serif;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

pre {
	font-family: 'Open Sans', sans-serif;
}

header {
	border-bottom: 2px solid black;
}

h1, h2, h3, h4 {
	font-family: 'Roboto Slab', serif;	
}

h3 {
	margin-top: 0;
	margin-bottom: 0;
}

h4 {
	color: gray;
	font-size: 14px;
}

textarea {
	resize: none;
	width: calc(100% - 2px);
	height: 400px;
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	font-size: inherit;
}

.nodec {
	text-decoration: none;
}

.title-link {
	color: black;
	text-decoration: none;
}

.nav-link {
	color: black;
	text-decoration: none;
}


.nav-item {
	padding: 5px;
	margin: 10px;
	border: 1px solid gray;
	border-radius: 5%;
	color: black;
	background-color: white;
	font-size: inherit;
}

.nav-item:hover {
	background-color: orange;
}

.header-actions .nav-item:first-of-type {
	margin-left: 0;
}

.header-login .nav-item:last-of-type {
	margin-right: 0;
}

.row-name {
	text-align: right;
}

.title-input {
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	width: calc(100% - 2px);
	padding: 0;
	border: 1px solid black;
	margin-bottom: 10px;
}

.input[type="password"] {
	width: calc(100% - 2px);
	padding: 0;
	border: 1px solid black;
}

.sub-header {
	width: 100%;
	display: flex;
	margin-top: 0;
}

.header-welcome {
	width: 100%;
	display: inline;
	text-align: right;
}

.header-actions {
	width: 50%;
	text-align: left;
	display: flex;
	justify-content: flex-start;
}

.header-login {
	width: 50%;
	text-align: right;
	display: flex;
	justify-content: flex-end;
}

.button-action {
	border:none;
	outline:none;
	background:none;
	font-size:inherit;
	cursor: pointer;
	margin: 5px;
}

.error {
	color: red;
}

.edit-actions {
	display:flex;
	justify-content: flex-end;
}