<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>A simple multi-user blog</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab" rel="stylesheet">
	<link rel='stylesheet' href='/css/style.css'>
	<link rel='stylesheet' href='/css/icons.css'>
</head>
<body>
	<header class="title">
		<a href="/" class="title-link"><h1>A Simple Multi-user Blog</h1></a>
	</header>
	{% if user %}
	<div class="header-welcome">
		<h3>{{user.key.id()}}</h3>
	</div>
	{% endif %}
	<div class="sub-header">
		<div class="header-actions">
			{% set show_new_post = show_new_post|default(True) -%}
			{% if user and show_new_post %}
			<a class="nodec" href="/newpost">
				<div class="nav-item">
					<h3>New Post</h3>
				</div>
			</a>
			{% endif %}
		</div>

		<div class="header-login">
			{% if user %}
				<a class="nodec" href="/logout">
					<div class="nav-item">
						<h3>Log Out</h3>
					</div>
				</a>
			{% else %}
				<a class="nodec" href="/signup">
					<div class="nav-item">
						<h3>Sign Up</h3>
					</div>
				</a>
				<a class="nodec" href="/login">
					<div class="nav-item">
						<h3>Log In</h3>
					</div>
				</a>
			{% endif %}
		</div>
	</div>
	{% block content %}
	{% endblock %}
</body>
</html>