{% extends "permalink_base.html" %}

{% set active_page = 'edit' -%}

{% block post %}
<h2>Edit Post</h2>
<form method="post" action="/posts/{{blog_post.id()}}/edit">
	<input class="title-input" name="title" value="{{blog_post.title}}"></input>
	<textarea name="text">{{blog_post.text}}</textarea>
	<div style="display:flex;">
		<button class="nodec nav-item">Submit</button>
		<a class="nodec nav-item" href="/posts/{{blog_post.id()}}">Cancel</a>
	</div>
</form>
<div class="post-error">
	{% if params['missing_title'] %}
	<p class="error">Post is missing a title.</p>
	{% endif %}
	{% if params['missing_text'] %}
	<p class="error">Post is missing a body.</p>
	{% endif %}
</div>
{% endblock post%}

{% block comment_form %}
<!-- Don't display comment submission form on edit page -->
{% endblock comment_form %}