{% extends "base.html" %}

{% set active_page = 'login' -%}

{% block content %}
<h2>Login</h2>
<form method="post" action="/login">
	<table align="center">
		<tr>
			<td class='row-name'>Username</td>
			<td><input type="text" name="username" value="{{username}}"></input></td>
		</tr>
		<tr>
			<td class='row-name'>Password</td>
			<td><input type="password" name="password"></input></td>
		</tr>
	</table>
	<button class="nodec nav-item">Submit</button>
</form>
<div class="post-error">
	{% if params.get('login_failure') %}
	<p class="error">Incorrect username or password.</p>
	{% endif %}
</div>

{% endblock %}