{% extends "base.html" %}

{% set active_page = 'new_post' -%}

{% block content %}
<h2>New Post</h2>
<form method="post" action="/newpost">
	<input class="title-input" name="title" value="{{title}}"></input>
	<textarea name="text" class="newpost-box">{{text}}</textarea>
	<div style="display:flex;">
		<button class="nodec nav-item">Submit</button>
		<a class="nodec nav-item" href="/">Cancel</a>
	</div>
</form>
<div class="post-error">
	{% if params['missing_title'] %}
	<p class="error">Post is missing a title.</p>
	{% endif %}
	{% if params['missing_text'] %}
	<p class="error">Post is missing a body.</p>
	{% endif %}
</div>
{% endblock %}