{% extends "base.html" %}

{% set active_page = 'signup' -%}

{% block content %}
<h2>Signup</h2>
<form method="post" action="/signup">
	<table align="center">
		<tr>
			<td class='row-name'>Username</td>
			<td><input type="text" name="username">{{username}}</input></td>
		</tr>
		<tr>
			<td class='row-name'>Password</td>
			<td><input type="password" name="password">{{password}}</input></td>
		</tr>
		<tr>
			<td class='row-name'>Verify Password</td>
			<td><input type="password" name="verify">{{verify}}</input></td>
		</tr>
		<tr>
			<td class='row-name'>Email</td>
			<td><input type="text" name="email">{{email}}</input></td>
		</tr>
	</table>
	<button>Submit</button>
</form>
{% endblock %}